In [2]:
import keyword

keyword = 4

print(keyword)

4

In [8]:
from zmy_pkg import test_func

In [10]:
ret = test_func.NAME
print(ret)

Pradeep

In [3]:
power = [a**2 for a in range(11) if a%2==0]
power

[0, 4, 16, 36, 64, 100]

In [6]:
multi_line = '''i am pradeep
started learning data science'''
print(multi_line)

i am pradeep
started learning data science

In [12]:
for i in range(100,1000,8):
    print(i,end=" ")

100 108 116 124 132 140 148 156 164 172 180 188 196 204 212 220 228 236 244 252 260 268 276 284 292 300 308 316 324 332 340 348 356 364 372 380 388 396 404 412 420 428 436 444 452 460 468 476 484 492 500 508 516 524 532 540 548 556 564 572 580 588 596 604 612 620 628 636 644 652 660 668 676 684 692 700 708 716 724 732 740 748 756 764 772 780 788 796 804 812 820 828 836 844 852 860 868 876 884 892 900 908 916 924 932 940 948 956 964 972 980 988 996

In [18]:
for i in range(11):
    if max(i)<=i/2:
        print(i)

TypeError: 'int' object is not iterable

In [27]:
def area_triangle(a,b,c):
    s=(a+b+c)/2
    a= (s*(s-a)*(s-b)*(s-c))**0.5
    print('area of triangle is'+str( a ))

In [29]:
from zmy_pkg import test_func

area_triangle(15,10,21)

area of triangle is69.16646586316233

In [33]:
odd = [a for a in range(100) if a%2!=0]
print(odd,end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [10]:
name = 'Pradeep Kumar'
consonents = [a for a in name if a not in ('aeiouAEIOU')]
consonents

['P', 'r', 'd', 'p', ' ', 'K', 'm', 'r']

## conversion of sequences

In [3]:
str(20)

'20'

In [6]:
set1 = set(consonents)
set1

{' ', 'K', 'P', 'd', 'm', 'p', 'r'}

In [9]:
tup = tuple(consonents)
tup

('P', 'r', 'd', 'p', ' ', 'K', 'm', 'r')

# #Type Conversion
    #Implicit Converison
    #explicit Conversion

In [13]:
int_v  = 21
float_v = 2.2
conv = int_v+float_v
conv

23.2

In [14]:
int('pradeep')

ValueError: invalid literal for int() with base 10: 'pradeep'

In [15]:
int_v  = 21
float_v = '2.2'
conv = int_v+float(float_v)
conv

23.2

# Assignment Operators

In [16]:
x = [1,2,3]
y = [1,2,3]

print(x is y)

False

In [2]:
city = ['chennai', 'hyderabad', 'mumbai']

for i in city:
    le = len(i)
    print(le)

7
9
6

In [14]:
for i in city:
    if i == 'hyderabad':
        break
    print(i)
else:
    print('city not found')

chennai

In [10]:
num = [1, 10, 100]

for i in num:
    if i==10:
        break
    else:
        print('I have', i, 'days')

I have 1 days

In [20]:
def abs_func(v):
    if v >0:
        print(v)
    else:
        abs_value = abs(v)
        print(abs_value)

In [22]:
abs_func(-8)

8

In [23]:
def abs_simple(v):
    if v > 0:
        return v
    else:
        return -v

In [25]:
abs_simple(-8)

8

<!-- Functions....
Positional Arg,Optional Org
Recursive Arf
Lambda Func -->

In [29]:
mylist = list(range(10))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
fil = list(filter(lambda x:x%2==0,mylist))
fil

[0, 2, 4, 6, 8]