### Part 1: Programming

In [8]:
def unique_no(arg):
    l1 = []
    for i in arg:
        if i not in l1:
            l1.append(i)
    print(l1)

In [9]:
a = [2,3,4,5,5,4,6]
unique_no(a)

[2, 3, 4, 5, 6]

In [96]:
n = int(input('enter number '))

x = list(range(1,n+1))

op = sum(x)/len(x)
op

enter number 4

2.5

In [15]:
n = int(input('enter number '))

if n%5 == 0 and n%7==0:
    print(n,'is divisible by 5 & 7')
else:
    print(n,'is not divisible by 5 & 7')

enter number 14
14 is not divisible by 5 & 7

In [16]:
n = int(input('enter number '))

print(str(n)[::-1])

enter number 456
654

In [94]:
def outer_f(a,b):
   
    def inner_sum():
        return a+b
    return inner_sum()+5

In [95]:
outer_f(4,5)

14

In [33]:
def is_leap(Year):
    if((Year % 400 == 0) or  (Year % 100 != 0) and  (Year % 4 == 0)):
        return True
     
             
    else:
        return False

In [34]:
is_leap(1900)

False

###  Part - 2: Pandas

In [36]:
import pandas as pd
import os

In [37]:
os.chdir(r'C:\Personal\Py')

In [38]:
df = pd.read_csv('auto.csv')
df

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [41]:
df.columns

Index(['Unnamed: 0', 'symboling', 'normalized_losses', 'make', 'fuel_type',
       'aspiration', 'num_doors', 'body_style', 'drive_wheels',
       'engine_location', 'wheel_base', 'length', 'width', 'height',
       'curb_weight', 'engine_type', 'num_cylinders', 'engine_size',
       'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [101]:
df['price'].max()

45400.0

In [55]:
df.groupby('make').size()

make
alfa-romero       3
audi              7
bmw               8
chevrolet         3
dodge             9
honda            13
isuzu             4
jaguar            3
mazda            17
mercedes-benz     8
mercury           1
mitsubishi       13
nissan           18
peugot           11
plymouth          7
porsche           5
renault           2
saab              6
subaru           12
toyota           32
volkswagen       12
volvo            11
dtype: int64

In [56]:
df.groupby('make')['price'].max()

make
alfa-romero      16500.0
audi             23875.0
bmw              41315.0
chevrolet         6575.0
dodge            12964.0
honda            12945.0
isuzu            11048.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mercury          16503.0
mitsubishi       14869.0
nissan           19699.0
peugot           18150.0
plymouth         12764.0
porsche          37028.0
renault           9895.0
saab             18620.0
subaru           11694.0
toyota           17669.0
volkswagen       13845.0
volvo            22625.0
Name: price, dtype: float64

In [59]:
df.sort_values(by=['price'])

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
138,138,2,83.0,subaru,gas,std,two,hatchback,fwd,front,...,97,2bbl,3.62,2.36,9.0,69.0,4900.0,31,36,5118.0
18,18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151.0
50,50,1,104.0,mazda,gas,std,two,hatchback,fwd,front,...,91,2bbl,3.03,3.15,9.0,68.0,5000.0,30,31,5195.0
150,150,1,87.0,toyota,gas,std,two,hatchback,fwd,front,...,92,2bbl,3.05,3.03,9.0,62.0,4800.0,35,39,5348.0
76,76,2,161.0,mitsubishi,gas,std,two,hatchback,fwd,front,...,92,2bbl,2.97,3.23,9.4,68.0,5500.0,37,41,5389.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
9,9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN
44,44,1,NaN,isuzu,gas,std,two,sedan,fwd,front,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
45,45,0,NaN,isuzu,gas,std,four,sedan,fwd,front,...,90,2bbl,3.03,3.11,9.6,70.0,5400.0,38,43,NaN
129,129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,...,203,mpfi,3.94,3.11,10.0,288.0,5750.0,17,28,NaN

In [62]:
df.groupby(['make','fuel_type','body_style'])['city_mpg','highway_mpg'].mean()

<ipython-input-62-cf0f3d3b8594>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['make','fuel_type','body_style'])['city_mpg','highway_mpg'].mean()

                                    city_mpg  highway_mpg
make        fuel_type body_style
alfa-romero gas       convertible  21.000000    27.000000
                      hatchback    19.000000    26.000000
audi        gas       hatchback    16.000000    22.000000
                      sedan        19.400000    24.400000
                      wagon        19.000000    25.000000
...                                      ...          ...
volkswagen  gas       sedan        25.200000    31.600000
                      wagon        25.000000    31.000000
volvo       diesel    sedan        26.000000    27.000000
            gas       sedan        20.428571    25.571429
                      wagon        21.333333    26.000000

[66 rows x 2 columns]